.header {
    position: relative;
    background-color: #f1f1f1;
    text-align: center;
    height: 15%;
    width: 100%; 
    border-bottom: solid black;      
}
body {
    display: flex;
    background-color: #ffffff;
    color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.Contents {
    position: absolute;
    height: 70%;
    width: 70%;
    top:16.5%;
    left: 15.7%;
    border-bottom: .2vw solid black;
    overflow-y: scroll;
}
.logout-button{
    position: fixed;
    background-color: rgb(214, 24, 24);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 6vw;
    height: 4vh;
    font-size: 2vh;
    bottom: 6vh;
    right: 2vw;
}
.userListContainer{
    position:absolute;
    text-align: center;
    overflow-y: scroll;
    border-right: 2px solid black;
    height: 83%;
    top:16.5%;
    width: 15%;
    column-gap: 100%;
}
.leaderboard{
    position:absolute;
    text-align: center;
    overflow-y: scroll;
    height: 70%;
    top:16.5%;
    width: 14.2%;
    right: 0;
}
.chat-form{
    display: flex;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.chat-upvote{
    background-color: rgb(0, 255, 89);
    color:rgb(0, 0, 0);
    border: none;
    font-size: larger;
    width: 5%;
    margin-right: .5%;
    cursor: pointer;
    border-radius: 1vh;
}
.chat-downvote{
    background-color: rgb(193, 67, 67);
    color:rgb(0, 0, 0);
    border: none;
    font-size: larger;
    width: 5%;
    cursor: pointer;
    border-radius: 1vh;
}
.header_buttons{
    display: block;
    position: absolute;
    width: 7%;
    height: 70%;
    right:1%;
    top:15%;
}
.profile-button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 7vw;
    height: 4vh;
    font-size: 2.5vh;
    right:2vw;
    top:10vh;
    margin-top: 10%;
}
.battle-button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 7vw;
    height: 4vh;
    font-size: 2.5vh;
    right:2vw;
    top:4vh;
}
.profile{
    position: relative;
    display: flex;
    height: 30%;
    top:-30%;
    left:2.5%;
}
.profile_image{
    position: relative;
    top:30%;
    margin-left: .5%;
}
.chat_message{
    position: relative;
    width: 97%;
    left: 1%;
    height: 6%;
    margin-bottom: .4%;
    display: flex;
}
.user_name{
    height:4vh;
    width: 10%;
    color: white;
    background-color: #30aada;
    border-radius: 1vh;
    font-size: auto;
    border: none;
    margin-right: .3%;
    margin-left: .3%;
}
.user_message{
    margin-right: .3%;
    background-color:#cdd6cd;
    height: 100%;
    border: none;
    width: 80%;
    text-align: left;
    border-radius: 1vh;
    color: black;
    font-size: larger;
    overflow-y: scroll;
}
.rightside_line{
    position: absolute;
    border-right: 2px solid black;
    height: 83%;
    top:16.5%;
    right:14.2%;
}