.profile-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25vw;
    height: 70vh;
    border: .2vw solid black;
    border-radius: 2vw;
    top: 10vh;
}
.error-message{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 34vh;
}
.circular--portrait { 
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--portrait img { 
    max-width: auto;
    max-height: 100%;
    margin-left: -10%;
}
.DisplayUsername{
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
}
.image-upload{
    position: absolute;
    top: 32vh;
    left: 2vw;
}
.upload_button{
    position: relative;
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3vw;
    width: 5vw;
    height: 3vh;
    font-size: 2vh;
    right: 1vw;
}
.logout-button{
    position: fixed;
    background-color: rgb(214, 24, 24);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 6vw;
    height: 4vh;
    font-size: 2vh;
    bottom: 6vh;
    right: 2vw;
}
.home-button{
    position: fixed;
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 6vw;
    height: 4vh;
    font-size: 2vh;
    bottom: 6vh;
    left: 2vw;
}