
/* can customize anything with = */
/* margin for div, padding for */
body {
    background-color: #ffffff;
    color: white;
    /* all text unless specified otherwise */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.my_image {
    height: 100%;
}

.image_div {
    height: 80%;
    width: 0;
}

img.post {
    width: 120px;
}

/* .title {    
    
    height: 5%;
    text alignment on page */
    /* text-align: center;
    padding-top: 2px;
    
} */
/* welcom/search for ... */
.header {
    
    background-color: #f1f1f1;
    text-align: center;
    /* height of this section */
    height: 25%;
    padding-top: 1px;   
    
}

.randomFact {
    text-align: left;
    width: 50%;
    height: 20px;
    display: contents;
}

.container1 {
    padding: 20px;
    background-color: white;
    width: 40%;   
    float: left;
    /* align-items: center;
    justify-content: left; */
    /* margin: auto;    */
}
.container2 {
    padding: 20px;
    background-color: white;
    width: 40%;   
    float:right;
    /* align-items: center;
    justify-content: right; */
      
}
input[type=text], input[type=password] {
    width: 100%;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
 
.sign-up-button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 100%;
    height: 6%;
    padding-top: 15px 20px;
}
.login-button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 100%;
    height: 6%;
    padding-top: 15px 20px;
}

.v1 {
    height: 500px;
    position: absolute;
    left:50%;
    margin-left: -3px;
    top: 0;
    border-left: 5px black;
}
 