
/* can customize anything with = */
/* margin for div, padding for */
body {
    background-color: #ffffff;
    color: white;
    /* all text unless specified otherwise */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.crusader{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16vw;
    height: auto;
    bottom:20vh
}


/* .title {    
    
    height: 5%;
    text alignment on page */
    /* text-align: center;
    padding-top: 2px;
    
} */
/* welcom/search for ... */
.header {
    background-color: #f1f1f1;
    text-align: center;
    /* height of this section */
    height: 25%;
    padding-top: 1px;   
}

.randomFact {
    text-align: left;
    width: 50%;
    height: 20px;
    display: contents;
}

.LogIncontainer {
    padding: 20px;
    background-color: white;
    width: 40%;   
    float: left;
    /* align-items: center;
    justify-content: left; */
    /* margin: auto;    */
}
.RegisterContainer {
    padding: 20px;
    background-color: white;
    width: 40%;   
    float:right;
}
input[type=text], input[type=password] {
    width: 100%;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
 
.register_button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    border-radius: 2vw;
    width: 9vw;
    height: 5vh;
    font-size: 3vh;
}
.register_button:hover{
    cursor: pointer;
}
.login-button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vw;
    width: 7vw;
    height: 5vh;
    font-size: 3vh;
}
.Signup_font{
    font-size: 3vh;
}
.Register_font{
    font-size: 3vh;
}
.randomfactbutton{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vw;
    width: 20vw;
    height: 5vh;
    font-size: 2vh;
}
.Randomfacttext{
    padding-bottom: 100%;
}
.logout{
    position: absolute;
    bottom: 3vh;
    left: 3vw;
}
.logout-button{
    background-color: rgb(48, 170, 218);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vw;
    width: 10vw;
    height: 5vh;
    font-size: 3vh;
}
.DisplayUsername{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}