<html lang="en">
    <head>
        <title>Battle Arena</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/battle.css"/>    
    </head>
    <body  onload="find_battle()">
        <div class="Battle_Title">
            <h2 class="Battle_arena_title">Battle Arena</h2>    
            <div>
                <button onclick="generate_battle()" class ="BattleButton">Click for a Battle</button>
            </div>    
        </div>

        <div class="DisplayUsername">
            <h3>{{UserName}}</h3>
        </div>
        
        <div class="logout">
            <button onclick="logout()" class="logout-button">Log out</button>
        </div>

        <div class="Battle_Arena">

            <div class="Player">
                <h3 class="Player_Username" id="UserName"></h3>
                <img src="" class="player_image" id="Player_Image_ID"/>
                <div class="player_info">
                    <h3 class="player_hp_info" id="player_hp_info"></h3>
                    <h3 class="player_dmg_info" id="player_dmg_info"></h3>
                </div>
            </div>

            <div class="Bot">
                <h3 class="Bot_Name" id="BotName"></h3>
                <img src="" class="bot_image" id="Bot_Image_ID"/>

                <div class="bot_info">
                    <h3 class="bot_hp_info" id="bot_hp_info"></h3>
                    <h3 class="bot_dmg_info" id="bot_dmg_info"></h3>
                </div>

            </div>

            <div class="result">
                <h3 id="Result"></h3>
            </div>
            <div class="option">
                <button class="attack_button" id="attack_button" onclick="attack()" style="display: none;">Attack</button>
                <button class="defense_button" id="defense_button" onclick="defend()" style="display: none;">Defend</button>
            </div>
        </div>

        <script src="static/battle.js"></script>
        <script src="static/functions.js"></script>
    </body>
</html>