<!-- adding divs creates separation/new lines -->
<html lang="en">
    <head>
        <title>Challenger List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/battle.css"/>    
    </head>
    <body>
        <div class="Game_Rules">
            <button style="margin: 0;margin-top: 4%;margin-bottom: 2%;font-size: 1.4vw;background-color: rgb(48, 170, 218);border: none;color: white;cursor: pointer;border-radius: 1vw;width: 5vw;" onclick="rule_show()">Rules</button>
                <div class="Rules">
                    <li style="margin: 0;margin-left: 6%;font-size: 1.2vw;">Click on Add Batlle to Add yourself to the list</li>
                    <li style="margin: 0;margin-left: 6%;font-size: 1.2vw;">Click on other people's Battle to challenge them</li>
                    <li style="margin: 0;margin-left: 6%;font-size: 1.2vw;">Challenge automatically gets deleted after 5 min</li>
                </div>
        </div>

        <div class="Battle_Title">
            <h2 class="Battle_arena_title">Challenger List</h2>    
            <div>
                <button onclick="add_battle()" class ="BattleButton">Add Battle</button>
                <h3 id = "Client_Message" class ="server_message"></h3>
            </div> 
        </div>

        <div class="DisplayUsername">
            <h3 id="Display_User">{{UserName}}</h3>
        </div>
        
        <div class="logout">
            <button onclick="logout()" class="logout-button">Log out</button>
        </div>
        
        <div class = "Challenger_List" id="Challenger_List">

        </div>

        <div class="home">
            <button onclick="home()" class="home-button">Home</button>
        </div>
        <script src="static/battle.js"></script>
    </body>
</html>