<!-- adding divs creates separation/new lines -->
<html lang="en">
<head>
    <title>Code Crusaders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>    
    
</head>

<body onload="welcome();">

    <div class="header">
                
        <h2>-<u>Code Crusaders App</u>-</h2>
        <button onclick="randomText()" class ="randomfactbutton">Click for random Crusader fact!</button>
        <div class="crusader-fact">
            
            <p id="randomText" class="Randomfacttext" placeholder="fact"></p>
        </div>    
        <div class="DisplayUsername">
            <h3>{{UserName}}</h3>        
        </div>
        <div class="profile_thumbnail">
                <img id="profileImage" src="static/crusader.jpg"  class="profile_image"/>
        </div>    
        <div>
            <button onclick="battle()" class="battle-button">Battle</button>
        </div>
            
    </div>
    <div class="userListContainer">
        <u><b>User List</b></u>
        <!-- <h4><small>{{userList}}</small></h4> -->
        <div id="userList"></div>
    </div>   
    <div class="Contents">
        <div class ="chat"> 
            <div id="chat-messages"></div>      
            <div class="chat-form">                    
                <button id="chat-button" onclick="sendChat()">Send Message</button>
                <input id="chat-text-box" type="text" size="50" placeholder="Send a Message">
                <br>
                <button id="battle-button" onclick="requestBattle()">Request Battle</button>
                <input id="battle-chat-text-box" type="text" size="50" placeholder="@ someone">
            </div>  
        </div>
        <div class="profile">
            <u><b>Profile</b></u>
            <div id="Experience">Experience Level: {{expLevel}}</div>
            <div id="Health">Health: {{healthStats}}</div>
        </div> 
    </div>
    <div class="logout">
        <button onclick="logout()" class="logout-button">Log out</button>
        
    </div>
    <!-- <script src="static/home.js"></script> -->
    <script src="static/home.js"></script>
</body>
</html>