<!-- adding divs creates separation/new lines -->
<html lang="en">
    <head>
        <title>Code Crusaders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/home.css"/>    
    </head>

    <body onload="welcome();">
        <div class="header">
            <h2>Conversation Room</h2>
            <div class="profile">
                <h3 class="username">{{UserName}}</h3>        
                <img src="{{profile}}" class="profile_image">
            </div>
            <div class="header_buttons">
                <button onclick="battle_redirect()" class="battle-button">Battle</button>
                <button onclick="profile_redirect()" class="profile-button">Profile</button>   
            </div>
        </div>

        <div class="userListContainer">
            <h3 style="margin: 3%;"><u>Online</u></h3>
            <div id="onlineList">
            </div>
        </div>

        <div class="leaderboard">
            <h3 style="margin: 3%;"><u>Leaderboard</u></h3>
            <div id="leaderboard_list">
            </div>
        </div>

        <div class="Contents" id="chat-messages">
        </div>

        <div class="chat-form">                    
            <button id="chat-button" onclick="sendChat()">Send Message</button>
            <input id="chat-text-box" type="text" size="50" placeholder="Send a Message (Character limit 57)">
        </div>

        <div class="logout">
            <button onclick="logout()" class="logout-button">Log out</button>
        </div>
        <div class="rightside_line"></div>
    </body>

    <script src="static/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</html>