<html lang="en">
    <head>
        <title>code crusaders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/functions.css"/>    
    </head>

    <body>
        <div class="header">
            <h2>-<u>Code crusaders App</u>-</h2>    
            <h3>Welcome to our app!</h3>
            <div>
                <button onclick="randomText()" class ="randomfactbutton">Click for random Crusader fact!</button>
                <p id="randomText" class="Randomfacttext"></p>
            </div>    
        </div>

        <div class="LogIncontainer">
            <u><b class = "Signup_font">Log-In</b></u><span class="error"> *<small>You must be logged in to battle</small></span>
            <p></p>    
            <label>Username:</label>
            <input id="login-form-username" type="text" placeholder="Enter Username">
            <label>Password:&nbsp;</label>
            <input id="login-form-pass" type="password" placeholder="Enter Password">
            <button onclick="Login()" class="login-button">Log In</button>     
            <h4 id ="LoginMessage"></h4>
        </div>

        <div class="RegisterContainer">
            <u><b class = "Register_font">Register</b></u>
            <p>Complete this form to create an account.</p>
            <label>Email:</label>
            <input id="sign-up-form-email" type="text"  placeholder="Enter Email">
            <label>Password:&nbsp;</label>
            <input id="sign-up-form-pass" type="password" placeholder="Enter Password" >
            <label>Re-enter Password:&nbsp;</label>
            <input id="sign-up-form-pass-retype" type="password" placeholder="Re-Enter Password">
            <button onclick="register()" class="register_button">Register</button>
            <h4 id ="Register_Message"></h4>
        </div>

        <div class="crusader_image">
            <img src="static/image/crusader.png" class="crusader"/>
        </div> 

        <script src="static/functions.js"></script>
    </body>
</html>
