<html lang="en">
    <head>
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/profile.css"/>    
    </head>
    <body>
        <div class="profile-box">
            <div class="DisplayUsername">
                <h3>{{UserName}}</h3>        
            </div>
            <div class="circular--portrait"> 
                <img src="/static/image/image.png"> 
            </div>
            <div class ="image-upload">
                <form action="/profile-pic" method="post" enctype="multipart/form-data">
                    <input id="form-file" type="file" name="upload">
                    <input type="submit" value="Post">
                </form>
            </div>

        </div>
    </body>

    <script src="static/profile.js"></script>
</html>